body {
    background-color: #5065A8;
}

* {
    color: white   /* Use this to make the whole texty white
    k */
}

.index-div{
    /* color: 5065A8; */
    width: 450px;
    height: 440px;
    border: 1px solid black;
    align-items: center;
    margin: auto;
    margin-top: 32.5px;
    /* ruben buy me spot prem =) */
    
}



.vote-div1{
    /* color: 5065A8; */
    width: 450px;
    height: 440px;
    border: 1px solid black;
    align-items: center;
    margin: auto;
    margin-top: 32.5px;
    /* ruben buy me spot prem =) */
    text-align: center;
    
    
}


.vote-div2{
    margin-top: 150px;
}


.vote-p {
    color: white;
}

  



